body{
	background: white;
	margin:10px;
	padding:20px;
}

#main{
	width: 1000px;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 11px;
	margin-bottom: 21px;
}

#p_form{
	width: 900px;
	height:auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 11px;
	margin-bottom: 21px;
}

/* Style for the labels 
The style appplies to all labels in the form
*/

label{
font-family: Tahoma, Gneva, Sans-serif;
float: left;
width: 200px;
}
input{
	padding: 6px;
	margin: 1px;
	border: none;
}

input[type=text], input[type=email], input[type=number], input[type=password]{
	width: 30%;
}

input[type=submit]{
	width:46.5%;
	background: grey;
	border-radius: 10px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	color: white;
}

fieldset{
	font-size: 16px;
	color: #16AC07;
	background: #F5AD1D;
	border-radius: 10px;
	border: 2px solid orange;
	width:auto;
}
legend{
	color: black;
	font-weight: bold;
}

h2{
	text-align: center;
	color:orange;
}